html {
  font-size: 16px;
}

p {
  margin: 0;
}

h1, h2 {
  font-weight: normal;
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}

button {
  margin: 10px 0;
  padding: 10px;
  border: none;
}

.top {
  padding-bottom: 5.0rem;
  line-height: 1.5rem;
  background-color: #E4E4E4;
}

button.header-logoutBtn {
  background-color: #42b983;
  color: #ffffff;
  margin-left: auto;
  margin-right: 2.0rem;
  padding: 0.4rem 1.0rem;
}

button.header-editBtn {
  background-color: #42b983;
  color: #ffffff;
  margin-left: auto;
  margin-right: 0;
  padding: 0.4rem 1.0rem;
}

.user-icon {
  width: 2.0rem;
}

.main {
  display: flex;
  padding: 0 1.0rem;
  max-width: 1200px;
  margin: 0 auto;
}

.main-myMessage {
  margin: auto;
  padding: 0;
  background-color: #ffffff;
  width: 100%;
}

.main-myMessage-title {
  padding: 15px 20px;
  text-align: left;
  border-bottom: solid 1px #E4E4E4;
  font-weight: bold;
}

.main-myMessage-contents {
  padding: 15px 20px;
  border-bottom: solid 1px #E4E4E4;
}

.main-myMessage-contents-top {
  display: flex;
  justify-content: center;
  position: relative;
}

img.main-myMessage-contents-top-userIcon {
  width: 2.0rem;
}

.main-myMessage-contents-top-deleteBtn {
  position: absolute;
  font-size: 16px;
  right: 0;
  top: 10px;
  background-color: transparent;
  cursor: pointer;
}

p.main-myMessage-contents-txt {
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  margin: 10px 0;
}

.main-myMessage-contents-category {
  display: flex;
  justify-content: left;
}

.main-myMessage-contents-category li {
  border: solid 1px #E4E4E4;
  margin: 0 5px 0 0;
  padding: 5px 10px;
  background-color: #cccccc;
  color: #ffffff;
}

p.main-myMessage-contents-time {
  font-size: 12px;
  margin: 10px 0;
  color: #cccccc;
  text-align: left;
}

.main-menu02 {
  width: 300px;
  margin-left: 20px;
  background-color: #ffffff;
  text-align: left;
}

.messageForm {
  position: fixed;
  bottom: 0px;
  background-color: #42b983;
  width: 100%;
}

.messageForm-form {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1.0rem;
}

.messageForm-form-input {
  height: 4.0rem;
  width: 50.0rem;
  background-color: #ffffff;
  border: 0.1rem solid #42b983;
  resize: none;
}

.messageForm-form-btn {
  margin: 0 1.0rem;
  border: solid 0.1rem #ffffff;
  background-color: #42b983;
  color: #ffffff;
}