html {
  font-size: 16px;
}

p {
  margin: 0;
}

h1, h2 {
  font-weight: normal;
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}

button {
  margin: 10px 0;
  padding: 10px;
  border: none;
}

.top {
  margin-bottom: 5.0rem;
  line-height: 1.5rem;
}

button.header-logoutBtn {
  background-color: #42b983;
  color: #ffffff;
  margin-left: auto;
  margin-right: 2.0rem;
  padding: 0.4rem 1.0rem;
}

button.header-editBtn {
  background-color: #42b983;
  color: #ffffff;
  margin-left: auto;
  margin-right: 0;
  padding: 0.4rem 1.0rem;
}

.user-icon {
  width: 2.0rem;
}

.main {
  display: flex;
  padding: 0 1.0rem;
}

.main-myMessage {
  width: 100%;
  padding: 0;
}

.main-myMessage-title {
  margin: 2.0rem 0;
}

.main-myMessage-contents {
  padding: 1.0rem 1.0rem;
  border: solid 1px #42b983;
}

.main-myMessage-contents-top {
  display: flex;
  justify-content: center;
  position: relative;
}

img.main-myMessage-contents-top-userIcon {
  width: 2.0rem;
}

button.main-myMessage-contents-top-deleteBtn {
  width: 2.6rem;
  font-size: 0.2rem;
  position: absolute;
  right: 0;
  margin: 0;
  padding: 0.3rem;
}

p.main-myMessage-contents-txt {
  text-align: left;
  padding: 1.0rem 0;
}

p.main-myMessage-contents-time {
  font-size: 0.2rem;
  text-align: right;
  margin: 0.4rem 0;
  color: #cccccc;
}

.messageForm {
  position: fixed;
  bottom: 0px;
  background-color: #42b983;
  width: 100%;
}

.messageForm-form {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1.0rem;
}

.messageForm-form-input {
  height: 4.0rem;
  width: 50.0rem;
  background-color: #ffffff;
  border: 0.1rem solid #42b983;
  resize: none;
}

.messageForm-form-btn {
  margin: 0 1.0rem;
  border: solid 0.1rem #ffffff;
  background-color: #42b983;
  color: #ffffff;
}