html {
  font-size: 10px;
}

p {
  margin: 0;
}

h1, h2 {
  font-weight: normal;
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}

button {
  margin: 10px 0;
  padding: 10px;
  border: none;
}

.allWrapper{
  background-color: #E4E4E4;
  padding: 10px 0;
}

.l-container {
  max-width: 1200px;
  margin: 0 auto;
}

.top {
  margin-bottom: 5.0rem;
  line-height: 1.5rem;
}

.header {
  display: flex;
  justify-content: right;
  padding: 3.0rem 2.0rem;
}

.user-icon {
  width: 2.0rem;
}

button.header-logoutBtn {
  margin: auto 1.0rem;
  background-color: #42b983;
  color: #ffffff;
  padding: 0.4rem 1.0rem;
}

.main {
  display: flex;
  padding: 0 1.0rem;
}

.main-menu01 {
  background-color: #ffffff;
  width: 180px;
  margin-right: 20px;
  text-align: left;
}

.menu-menu01-content-head {
  padding: 5px 10px;
  border-bottom: solid 1px #E4E4E4;
  font-weight: bold;
}

.menu-menu01-content-item li{
  padding: 5px 10px;
}

.main-menu02 {
  width: 300px;
  margin-left: 20px;
  background-color: #ffffff;
  text-align: left;
}

.menu-menu02-content-head {
  padding: 5px 10px;
  border-bottom: solid 1px #E4E4E4;
  font-weight: bold;
}

.menu-menu02-content-items {
  display: flex;
  flex-direction: column;
  color: #ffffff;
}

.menu-menu02-content-items-item {
  background-color: #42b983;
  padding: 5px 10px;
  border: solid 1px #E4E4E4;
  font-weight: bold;
  margin: 10px 5px;
  color: #ffffff;
}

.menu-menu02-content-items-item:hover {
  opacity: 0.3;
  cursor: pointer;
  transition: 0.3s;
}

.menu-menu02-content-items-item a {
  color: #ffffff;
  text-decoration: none;
}

.main-allMessage {
  width: 100%;
  padding: 0;
  background-color: #ffffff;
}

.main-allMessage-title {
  padding: 15px 20px;
  text-align: left;
  border-bottom: solid 1px #E4E4E4;
  font-weight: bold;
}

.main-allMessage-contents {
  padding: 15px 20px;
  border-bottom: solid 1px #E4E4E4;
}

.main-allMessage-contents-userIcon {
  display: flex;
}

.main-allMessage-contents-userIcon img {
  width: 30px;
  height: 30px;
  margin: auto 0;
}

p.main-allMessage-contents-userIcon-name {
  text-align: left;
  line-height: 3.0rem;
  margin: 0 1.0rem;
}

p.main-allMessage-contents-txt {
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  margin: 10px 0;
}

.main-allMessage-contents-category {
  display: flex;
  justify-content: left;
}

.main-allMessage-contents-category li {
  border: solid 1px #E4E4E4;
  margin: 0 5px 0 0;
  padding: 5px 10px;
  background-color: #cccccc;
  color: #ffffff;
}

p.main-allMessage-contents-time {
  font-size: 12px;
  margin: 10px 0;
  color: #cccccc;
  text-align: left;
}

.messageForm {
  position: fixed;
  bottom: 0px;
  background-color: #42b983;
  width: 100%;
}

.messageForm-form {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1.0rem;
}

.messageForm-form-input {
  height: 4.0rem;
  width: 50.0rem;
  background-color: #ffffff;
  border: 0.1rem solid #42b983;
  resize: none;
}

.messageForm-form-btn {
  margin: 0 1.0rem;
  border: solid 0.1rem #ffffff;
  background-color: #42b983;
  color: #ffffff;
}